*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  display: grid;
  place-items: center;
  height: 80vh;
}
form{
  display: grid;
  place-items: center;
  height: 400px;
  width: 80%;
}
hr{
  width: 100%;
}
.textInput{
  height: 200px;
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: larger;
  text-align: left;

}
.volume, .speed{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
label{
  font-size: 20px;
  font-weight: 700;
  width: 100px;
  text-align: left;
}
input{
  overflow: hidden;
  width: 100%;
  margin: auto;
  height: 8px;
}
input[type = 'range']::-webkit-slider-runnable-track{
  border-radius: 8px;
  height: 4px;
  width: 150px;
  outline: none;
  background-color: #ec4747;
  -webkit-appearance: none;
}
input[type = 'range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin-top: -5px;
  cursor: e-resize;
  width: 6px;
}
input[type = 'button']{
  width: 70%;
  height: 35px;
  background: purple;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 25px;
}
input[type = 'button']:hover{
  background: red;
  color: black;
}